html {
  height: 100%;
  width: 100%;
}
.sample1 {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sample2 {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sample3 {
  color: red;
  display: flex;
  justify-content: center;

}
